
/*  GENERAL */

* {
	border: 0;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
	color: black;
}

html {
    background-color: white;
}

body {
    background-color: white;
	font-family: 'Lato', serif;
    font-weight: 300;
	font-size: 16px;
	line-height: 160%;
	max-width: 768px;
	margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

p {
	margin: 20px 0;
}

a img {
	border: none;
}

img {
	margin: 10px auto 10px auto;
	max-width: 100%;
	display: block;
}

strong {
	font-weight: 400;
}

em, q, em, dfn {
	font-style: italic;
}

h1, h2, h3 {
    font-weight: 400;
    text-align: center;
}

h1 {
	font-size: 26px;
    margin-bottom: 1em;
}

h2 {
	font-size: 22px;
    margin-top: 2.5em;
}

h3 {
	font-size: 19px;
	margin-top: 18px;
}

h4 {
    font-size: 16px;
    margin-top: 2em;
    margin-bottom: 0.25em;
}

blockquote {
	padding: 0 2em;
}

blockquote p {
	display: inline-block;
	font-style: italic;
}

hr {
	width: 40%;
	height: 1px;
	background: #403c3b;
	margin: 64px auto;
}

ul {
    padding-top: 20px;
    padding-left: 1.5em;
}

li {
    margin-bottom: 0.25em;
}

.inline {
    display: inline;
}




/*  HEADER AND NAVIGATION */

#header {
	padding-top: 60px;
    line-height: 1.4;
}

#header .supertitle {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
}

#header .logo img {
    width: 120px;
}

#header .title {
    margin: 0;
    font-size: 32px;
    font-weight: 400;
}

#header .title a {
    text-decoration: none;
}

#header .subtitle {
    margin: 8px 0;
    color: #444444;
    font-size: 16px;
}

#navigation {
    text-align: center;
    margin-top: 24px;
    font-size: 17px;
    font-weight: 400;
    padding: 6px 8px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

#navigation a {
    text-decoration: none;
}

#navigation ul {
	justify-content: space-between;
	margin: auto;
    padding: 0;
}

#navigation li {
	list-style-type: none;
	display: inline-block;
    box-sizing: border-box;
    padding: 10px;
}

#navigation a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
}



/*  CONTENT */

#content {
	text-align: left;
	width: 100%;
	padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 110%;
    line-height: 170%;
    box-sizing: border-box;
}

#content a {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-offset: 3px;
}

#content a:hover {
    text-decoration-style: solid;
}

.schedule {
    width: 70%;
    margin: auto;
    text-align: center;
    border-collapse: collapse;
}

.schedule th  {
    font-weight: bold;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.schedule tr th, .schedule tr td {
    padding: 1px;
}

.schedule th:nth-child(2), table td:nth-child(2){
    text-align: left;
}

.schedule tr:last-of-type td{
    border-bottom: 2px solid black;
}

.invited {
    background-color: #FFE599;
}

.contributed {
    background-color: #A4C2F4;
}

.break {
    background-color: #B6D7A8;
}


/*  FOOTER */

#footer {
    color: #444444;
    font-size: small;
    text-align: center;
    padding: 1em;
    padding-bottom: 60px;
    box-sizing: border-box;
    border-top: 2px solid black;
}



/*  SUPPORT FOR MOBILE */

@media only screen and (min-device-width : 320px) and (max-device-width : 767px) {

    #navigation ul {
        padding: 0;
    }

    #navigation li {
        display: block;
        text-align: center;
        width: 100%;
        font-size: 20px;
        padding: 12px 0;
        margin: auto;
    }

}
